/* @group Reset */
html,body,div,span,applet,button,input,textarea,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,header,footer,article,section,aside,nav{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
/* @end */

/* @group Yahoo font reset */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/* @end */

/* @group HTML5 */
header,footer,article,section,aside,nav{display:block;}
/* @end */

/* @group Forms and DLs */
label,button{cursor:pointer;}
input,textarea{background:#F8F8F8;border:1px solid #000;}
label,input[type=text],input[type=url],input[type=email],input[type=password],input[type=file],input[type=checkbox],select,textarea,dd,dt{margin-bottom:1em;}
label,dt{display:block;clear:left;float:left;width:40%;text-align:right;padding: 5px 5% 5px 0;}
label:after,dt:after{content:":";}
input[type=text],input[type=url],input[type=email],input[type=password],input[type=file],select,textarea,dd{float:left;width:50%;padding:5px 0 5px 5px;}
input[type=checkbox]{float:left;}
textarea{height:15em;resize:vertical;}
input:focus,textarea:focus{background:#D8FFD8;}
dl,fieldset{overflow:auto;}
button{
	background-color:#9D6CB4;
	color:#FFF;
	clear:left;
	float:left;
	margin-left:45%;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
button:focus{background-color:#C588E4;color:#000;}
/* @end */

.container_12{margin-left:auto;margin-right:auto;width:960px;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px;}
.alpha{margin-left:0;}
.omega{margin-right:0;}

.grid_1{width:60px;}.grid_2{width:140px;}.grid_3{width:220px;}.grid_4{width:300px;}.grid_5{width:380px;}.grid_6{width:460px;}.grid_7{width:540px;}.grid_8{width:620px;}.grid_9{width:700px;}.grid_10{width:780px;}.grid_11{width:860px;}.grid_12{width:940px;}
.prefix_1{padding-left:80px;}.prefix_2{padding-left:160px;}.prefix_3{padding-left:240px;}.prefix_4{padding-left:320px;}.prefix_5{padding-left:400px;}.prefix_6{padding-left:480px;}.prefix_7{padding-left:560px;}.prefix_8{padding-left:640px;}.prefix_9{padding-left:720px;}.prefix_10{padding-left:800px;}.prefix_11{padding-left:880px;}
.suffix_1{padding-right:80px;}.suffix_2{padding-right:160px;}.suffix_3{padding-right:240px;}.suffix_4{padding-right:320px;}.suffix_5{padding-right:400px;}.suffix_6{padding-right:480px;}.suffix_7{padding-right:560px;}.suffix_8{padding-right:640px;}.suffix_9{padding-right:720px;}.suffix_10{padding-right:800px;}.suffix_11{padding-right:880px;}

table{width:100%;}
/*input,textarea{border:1px solid #999;}*/
/*input:focus,textarea:focus{border-color:#000;}*/
thead th{border-bottom: 2px solid #888;}
tbody tr:nth-child(odd){background-color:#EEE;}
tbody tr:nth-child(even){background-color:#DDD;}
td {color: #000;}
td,th{padding:5px;}
th{font-weight:bold;}



/* END OF RESETS */
body {
	background-color: #5F0E84;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	overflow-y:scroll;
}
b,strong{
	font-weight: bold;
}
i,em {
	font-style:italic;
}
ol ol, ol ul, ul ol, ul ul {
	margin-top: 1em;
	margin-left: 2em;
}
p {
	line-height: 1.4;
	padding-bottom: 1em;
}
/* @group Sticky footer*/
html,body {
	height:100%
}
#pushWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
	
}
#bottom,#push {
	height: 100px;
}
/* @end */
#callToAction {
	font-size: 2em;
	margin-top: 1em;
}
.container_12 {
	overflow: hidden;
}

a {
	color: #7CA4EC;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a[target=_blank] {
	background: url(img/external.png) no-repeat right center;
	padding-right: 12px;
}

#top {
	margin-bottom: 20px;
}
#top h1 {
	font-size: 28pt;
}
#top h1 a {
	text-decoration:none;
	color: #000;
	text-shadow: 0 1px 3px rgba(255,255,255,.5);
}
#top nav ul {
	overflow: hidden;
}
#top nav li {
	float: left;
}
#top nav li a, #top nav li span {
	display: block;
	padding: 10px;
	text-decoration:none;
}
#top nav li a {
	color: #FFF;
}
#top nav li span {
	background-color: #999;
}
#top nav li a:hover {
	text-decoration: none;
	background-color: #9d6cb4;
}

#alerts,#successMessages {
	clear:both;
	padding: 10px;
	margin: 0 170px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #000;
}
#alerts {
	border: 1px solid #7F0D0B;
	background-color: #FF6562;
}
#successMessages {
	border: 1px solid #007F22;
	background-color: #4EFF7D;
}

#js_on #alerts, #js_on #successMessages {
	display:none;
	padding: 20px;
	margin: 0 0 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
#js_on #alerts li, #js_on #successMessages li {
	margin-top: 10px;
}
#js_on #alerts li:first-child, #js_on #successMessages li:first-child  {
	margin-top: 0;
}


#main {
	line-height: 1.25;
}
#main li {
	padding-bottom: 10px;
}

#home {
	font-size: 110%;
}

#bottom li {
	padding: 5px 0;
}
#bottom a[target=_blank] {
	background:none;
	padding-right: 0;
}

.blogPost {
	margin-bottom: 10px;
}
.blogPost h2 {
	font-size: 18pt;
}
.blogPost h2 a {
	text-decoration:none;
}
.blogPost ol, .blogPost ul {
	list-style-position: inside;
}
.blogPost ul {
	list-style-type: disc;
}
.blogPost ol {
	list-style-type: decimal;
}
.blogPost ol p:first-child, .blogPost ul p:first-child {
	display: inline;
}

#forums nav {
	margin-bottom: 10px;
}
#forums nav a {
	font-size:12pt;
	margin-bottom: 10px;
}

#forumHeader {
	border-bottom:1px solid #999;
	overflow:auto;
	margin-bottom:10px;
}

.forum, .forumTopic, .forumPost {
	margin-bottom: 10px;
}
.forum h2, .forumTopic h2 {
	font-size: 11pt;
}

.forumTopic header .posts {
	color: #999;
}
.forum footer, .forumTopic footer, .forumPost footer {
	color: #999;
}
.forumPost {
	overflow:auto;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}
.forumPost footer .poster, .forumPost footer .postTime {
	display:block;
}
.forumPost footer, .forumPost article {
	min-height: 90px;
	/* IE6 min-height hack */
	height: auto !important; 
	height: 90px;
}
.pagination, .pagination a {
	font-size: 9pt!important;
}
